table {
    text-align: center;
}

table tr:nth-child(2n) {
    background-color: unset;
}

table td {
    word-break: keep-all;
    white-space: nowrap;
}

table th {
    word-break: keep-all;
    white-space: nowrap;
}