$accentColor = #0088ff;

.el-tabs__item {
    color: unset;
}

table {
    text-align: center;
    user-select: none;
}

table tr:nth-child(2n) {
    background-color: unset;
}

table td {
    word-break: keep-all;
    white-space: nowrap;
}

table th {
    word-break: keep-all;
    white-space: nowrap;
}

.content__default:not(.custom) > h2 {
    margin-top: unset;
}