$accentColor = #0088ff;

.el-tabs__item {
    color: unset;
}

body {
    cursor: url('/cursor.png'), auto;
}

a {
    background-color: transparent !important;
}

table {
    text-align: center;
}

table tr:nth-child(2n) {
    background-color: unset;
}

table td {
    word-break: keep-all;
    white-space: nowrap;
}

table th {
    word-break: keep-all;
    white-space: nowrap;
}

.content__default:not(.custom) > h2 {
    margin-top: unset;
}